body{
    background-color: #f8f8f8;
}
.nav-top{
    background-color: grey;
    font-family: Abel;
    top: 0px;
    position: fixed;
    width: 100%;
    color: white;
    font-weight: regular;
    font-size: 18px;
    padding: 10px;
    z-index: 99999;
}
.category{
    box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.2), 0px 0px 2px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border: 1px solid white; 
    padding: 6px;
    border-radius: 6px;
    background-color: white;
}
.categ{
    padding: 5px 8px;
}
.category .fa-3x{
    padding:5px 0px;
}
p label{
    font-size: 3vmin;
}
#notice{
    text-align: left;
    color: red;
}
.category:hover{
    box-shadow: 0 2px 15px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s cubic-bezier(0.15, 0.69, 0.83, 0.67) 0s;
}
@media only screen and (min-width: 1366px) {

   .container-fluid{
    width: 60%;    
    margin: auto;
}
}
/*profile page*/
.profile{
    text-align: right;
    font-family: all;
}
.input{
    border-radius: 0px;
}
/*children page*/
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    text-align: center;
}
/*attendance page*/
.pres_day{
    color: green;
    font-weight: bold;
}
.abse_day{
    color: red;
    font-weight: bold;
}
.holi_day{
    color: orange;
    font-weight: bold;
}
/**
 * Zabuto Calendar
 */

div.zabuto_calendar {
    margin: 0;
    padding: 0;
}

div.zabuto_calendar .table {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar .table th,
div.zabuto_calendar .table td {
    padding: 4px 2px;
    text-align: center;
}

div.zabuto_calendar .table tr th,
div.zabuto_calendar .table tr td {
    background-color: #ffffff;
}

div.zabuto_calendar .table tr.calendar-month-header th {
    background-color: #fafafa;
}

div.zabuto_calendar .table tr.calendar-month-header th span {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 10px;
}

div.zabuto_calendar .table tr.calendar-dow-header th {
    background-color: #f0f0f0;
}

div.zabuto_calendar .table tr:last-child {
    border-bottom: 1px solid #dddddd;
}

div.zabuto_calendar .table tr.calendar-month-header th {
    padding-top: 12px;
    padding-bottom: 4px;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header th {
    border-left: 0;
    border-right: 0;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header th:first-child {
    border-left: 1px solid #dddddd;
}

div.zabuto_calendar div.calendar-month-navigation {
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

div.zabuto_calendar tr.calendar-dow-header th,
div.zabuto_calendar tr.calendar-dow td {
    width: 14%;
}

div.zabuto_calendar .table tr td div.day {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* actions and events */
div.zabuto_calendar .table tr td.event div.day,
div.zabuto_calendar ul.legend li.event {
    background-color: #fff0c3;
}

div.zabuto_calendar .table tr td.dow-clickable,
div.zabuto_calendar .table tr td.event-clickable {
    cursor: pointer;
}

/* badge */
div.zabuto_calendar .badge-today,
div.zabuto_calendar div.legend span.badge-today {
    background-color: #357ebd;
    color: #ffffff;
    text-shadow: none;
}

div.zabuto_calendar .badge-event,
div.zabuto_calendar div.legend span.badge-event {
    background-color: #ff9b08;
    color: #ffffff;
    text-shadow: none;
}

div.zabuto_calendar .badge-event {
    font-size: 0.95em;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}

/* legend */
div.zabuto_calendar div.legend {
    margin-top: 5px;
    text-align: right;
    display: none;
}

div.zabuto_calendar div.legend span {
    color: #999999;
    font-size: 10px;
    font-weight: normal;
}

div.zabuto_calendar div.legend span.legend-text:after,
div.zabuto_calendar div.legend span.legend-block:after,
div.zabuto_calendar div.legend span.legend-list:after,
div.zabuto_calendar div.legend span.legend-spacer:after {
    content: ' ';
}

div.zabuto_calendar div.legend span.legend-spacer {
    padding-left: 25px;
}

div.zabuto_calendar ul.legend > span {
    padding-left: 2px;
}

div.zabuto_calendar ul.legend {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar ul.legend li {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-left: 5px;
}

div.zabuto_calendar ul.legend
div.zabuto_calendar ul.legend li:first-child {
    margin-left: 7px;
}

div.zabuto_calendar ul.legend li:last-child {
    margin-right: 5px;
}

div.zabuto_calendar div.legend span.badge {
    font-size: 0.9em;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
}
#zabuto_calendar_1ol_2019-03-14{
    background-color: green;
}
/* responsive */
@media (max-width: 979px) {
    div.zabuto_calendar .table th,
    div.zabuto_calendar .table td {
        padding: 2px 1px;
    }
}

/*Student_profile*/
table tbody #stu_detail{
    text-align: left;
    /*border-bottom: 1px solid lightblue;*/
}
.pro_table{
    box-shadow: 0px 0px 1px #e6e6e6;
    padding: 5px;
    font-family: Assistant;
    }
.pro_table .bordered{
    width: 100%;
}
.pro_img{
    padding: 8px 0px
}
/*mark*/
.subject{
    font-family: Oxygen;
}
.pro_mark .categ .category{
    text-align: left;
}
/*invoice page*/
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.category .invoice_head{
    margin:  0px;
    font-family: Assistant;
}
.hr{
    margin-top: 4px;
    margin-bottom: 4px;
    border: 0;
    border-top: 1px solid #eee;
}
.invoice_head .left{
    text-align: left;
}
.green{
    color: green;
}
/*teachers profile*/
table tbody #teach_detail{
    text-align: left;
    border-bottom: 1px solid #efefef;
}
.pro_table_teach table tbody tr td{
    padding: 3px;
}
.pro_table_teach{
    box-shadow: 0px 0px 2px #a7a4a4;
    padding: 5px;
    font-family: Assistant;
    }
.pro_table_teach .bordered{
    width: 100%;
}
.pro_img{
    padding: 8px 0px
}
.tech_name{
    color:lightgrey;
}

/*login page*/
.login_img{
    border-radius: 90px;
    margin-top: 50px;
}
.categ_login{
    background-color: white;
    box-shadow: 0px 0px 5px #a7a4a4;
    padding: 5px 15px;
    min-height: 100vh;
}
.login_input{
    border-radius: 9px;
    padding: 26px 16px;
    box-shadow: 0 2px 15px 5px rgba(0, 0, 0, 0.2);
}
.login_btn{
    border-radius: 9px;
    background-color: grey;
    width: 100%;
    padding: 9px;
    font-weight: bold;
    font-family: Oxygen;
    text-shadow: 0px 0px 9px white;
    font-size: 17px;
}
.font{
    font-family: Oxygen;
}
